<h1>African-American Reads</h1>

<div align="center">
    <li>The Skin I’m in - Sharon G. Flake</li>
    <li>The Hate  U Give - Angie Thomas</li>
    <li>The Color Purple - Alice Walker</li>
    <li>Roll of thunder, hear my cry - Mildred D. Taylor</li>
    <li>Chains - Laurie Halse Anderson</li>
    <li>Beloved - Toni Morrison</li>
    <li>Jazz - Toni Morrison</li> 
    <li>Beloved - Toni Morrison</li>
    <li>Becoming - Michelle Obama</li>
    <li>Booked - Kwame Alexander</li>
    <li>Ghostboys - Jewell Parker Rhodes</li>
    <li>The Good Braider - Terry Parish</li>
    <li>The Sun is also a Star - Nicola Yoon</li>
    <li>Brown Girl Dreaming - Jacqueline Woodson</li>
    <li>Solo - Kwame Alexander</li>
</div>

<%= link_to 'Home', root_path %>