<h1 align="center">African-American Reads</h1>

<div align="center">
    <li><a href="https://www.goodreads.com/book/show/751635.The_Skin_I_m_In?ac=1&from_search=true&qid=4WMtzOvXnk&rank=1">The Skin I’m in - Sharon G. Flake</li>
    <li><a href="https://www.goodreads.com/book/show/32075671-the-hate-u-give?ac=1&from_search=true&qid=uzX1xj8PPz&rank=1">The Hate  U Give - Angie Thomas</a></li>
    <li><a href="https://www.goodreads.com/book/show/52892857-the-color-purple?ac=1&from_search=true&qid=x7RwZWaf0O&rank=1">The Color Purple - Alice Walker</a></li>
    <li><a href="https://www.goodreads.com/book/show/310459.Roll_of_Thunder_Hear_My_Cry?ac=1&from_search=true&qid=oP2eF80iuA&rank=1">Roll of thunder, hear my cry - Mildred D. Taylor</a></li>
    <li><a href="https://www.goodreads.com/book/show/3002300-chains?ac=1&from_search=true&qid=lV6TrBjctt&rank=1">Chains - Laurie Halse Anderson</a></li>
    <li><a href="https://www.goodreads.com/book/show/6149.Beloved">Beloved - Toni Morrison</a></li>
    <li><a href="https://www.goodreads.com/book/show/37398.Jazz?ac=1&from_search=true&qid=vknk5OWONX&rank=1">Jazz - Toni Morrison</a></li> 
    <li><a href="https://www.goodreads.com/book/show/38746485-becoming?ac=1&from_search=true&qid=5qGgZjVG0B&rank=1">Becoming - Michelle Obama</a></li>
    <li><a href="https://www.goodreads.com/book/show/25897953-booked?ac=1&from_search=true&qid=FxpJzppCsy&rank=1">Booked - Kwame Alexander</a></li>
    <li><a href="https://www.goodreads.com/book/show/34647324-ghost-boys?ac=1&from_search=true&qid=5qHGg0vRg6&rank=1">Ghost Boys - Jewell Parker Rhodes</a></li>
    <li><a href="https://www.goodreads.com/book/show/12597227-the-good-braider?ac=1&from_search=true&qid=Ty0jJQkkSh&rank=1">The Good Braider - Terry Parish</a></li>
    <li><a href="https://www.goodreads.com/book/show/28763485-the-sun-is-also-a-star?ac=1&from_search=true&qid=hXW41zxBOR&rank=1">The Sun is also a Star - Nicola Yoon</a></li>
    <li><a href="https://www.goodreads.com/book/show/20821284-brown-girl-dreaming?ac=1&from_search=true&qid=6ezMkqJXIc&rank=1">Brown Girl Dreaming - Jacqueline Woodson</a></li>
    <li><a href="https://www.goodreads.com/book/show/33004289-solo?ac=1&from_search=true&qid=OO19x0CUvS&rank=1">Solo - Kwame Alexander</a></li>
</div>

<%= link_to 'Home', root_path %>