<h1>Caribbean Reads</h1>

<div align="center">
    <li>Dancing in the Rain - Lynn Joseph</li>
    <li>Dreams Beyond The Shore - Tamika  Gibson</li>
    <li>Girlcott - Florenz Webbe Maxwell</li>
    <li>The Chaos - Nalo Hopkinson</li>
    <li>Pride - Ibi Zoboi</li>
    <li>Cuba 15 - Nancy Osa</li>
    <li>Dew Angels - Melanie Schwapp</li>
    <li>Claire of the Sea Light - Edwidge Danticat</li>
    <li>Wide Sargasso Sea - Jean Rhys</li>
    <li>Return to Sender - Julia Alvarez</li>
</div>


<img src="/images/haiti.jpg" alt="rss feed" />
<img src="/images/jamaica.jpg" alt="rss feed" />
<img src="/images/trinidad.jpg" alt="rss feed" />
<img src="/images/guyana.jpg" alt="rss feed" />
<img src="/images/guyana2.jpg" alt="rss feed" />
<img src="/images/thedominicanrepublic.jpg" alt="rss feed" />
<img src="/images/barbados.jpg" alt="rss feed" />
<img src="/images/haiti2.jpg" alt="rss feed" />
<img src="/images/barbados2.jpg" alt="rss feed" />
<img src="/images/bahamas.jpg" alt="rss feed" />
<img src="/images/bahamas2.jpg" alt="rss feed" />
<img src="/images/jamaica2.jpg" alt="rss feed" />

<%= link_to 'Home', root_path %>