<h1 align="center">Caribbean Reads</h1>

<h5 align="center">Click on the links to view more information about each book</h5>
<div align="center">
    <li><a href="https://www.goodreads.com/book/show/30062959-dancing-in-the-rain?ac=1&from_search=true&qid=niTD5EzNvE&rank=2">Dancing in the Rain - Lynn Joseph</a></li>
    <li><a href="https://www.goodreads.com/book/show/35782592-dreams-beyond-the-shore?ac=1&from_search=true&qid=fdl55y3Tx2&rank=2">Dreams Beyond The Shore - Tamika  Gibson</a></li>
    <li><a href="https://www.goodreads.com/book/show/35556954-girlcott?ac=1&from_search=true&qid=eMLvY0nvD3&rank=1">Girlcott - Florenz Webbe Maxwell</a></li>
    <li><a href="https://www.goodreads.com/book/show/11831627-the-chaos?ac=1&from_search=true&qid=KpKRZixCtv&rank=1">The Chaos - Nalo Hopkinson</a></li>
    <li><a href="https://www.goodreads.com/book/show/35068632-pride?ac=1&from_search=true&qid=d3ttCOo6tg&rank=1">Pride - Ibi Zoboi</a></li>
    <li><a href="https://www.goodreads.com/book/show/10431.Cuba_15?ac=1&from_search=true&qid=4bh41wmbC6&rank=1">Cuba 15 - Nancy Osa</a></li>
    <li><a href="https://www.goodreads.com/book/show/13501728-dew-angels?ac=1&from_search=true&qid=YF38C2mV2Y&rank=1">Dew Angels - Melanie Schwapp</a></li>
    <li><a href="https://www.goodreads.com/book/show/16280051-claire-of-the-sea-light?ac=1&from_search=true&qid=2Nran1aFGb&rank=1">Claire of the Sea Light - Edwidge Danticat</a></li>
    <li><a href="https://www.goodreads.com/book/show/25622780-wide-sargasso-sea?ac=1&from_search=true&qid=sxrqnfVeV5&rank=1">Wide Sargasso Sea - Jean Rhys</a></li>
    <li><a href="https://www.goodreads.com/book/show/3236586-return-to-sender?ac=1&from_search=true&qid=AkwGcscbzC&rank=1">Return to Sender - Julia Alvarez</a></li>
</div>


<img src="/images/haiti.jpg" alt="rss feed" />
<img src="/images/jamaica.jpg" alt="rss feed" />
<img src="/images/trinidad.jpg" alt="rss feed" />
<img src="/images/guyana.jpg" alt="rss feed" />
<img src="/images/guyana2.jpg" alt="rss feed" />
<img src="/images/thedominicanrepublic.jpg" alt="rss feed" />
<img src="/images/barbados.jpg" alt="rss feed" />
<img src="/images/haiti2.jpg" alt="rss feed" />
<img src="/images/barbados2.jpg" alt="rss feed" />
<img src="/images/bahamas.jpg" alt="rss feed" />
<img src="/images/bahamas2.jpg" alt="rss feed" />
<img src="/images/jamaica2.jpg" alt="rss feed" />

<%= link_to 'Home', root_path %>