<h1>East and West African Reads</h1>

<div align="center">
  
    <li>Auma’s Long Run - Eucabeth A Odhimabo</li>
    <li>City of Saints and Thieves - Natalie C Anderson</li>
    <li>Out of Africa - Karen Blixen</li>
    <li>Abela - Berlie Doherty</li>
    <li>Akata Witch = Need Okorafor</li>
    <li>The Milk of Birds - Sylvia Whitman</li>
    <li>A Long Walk to Water - Linda Sue Park</li>
    <li>The Garbage King - Elizabeth Laird</li>
    <li>Children of Blood and Bone</li>
    <li>Homegoing - Yaa Gyasi</li>
    <li>Things Fall Apart - China Achebe</li>
    <li>Purple Hibiscus - Chimamanda Ngozi Adichie</li>
    <li>Americanah - Chimamanda Negozi Adichie</li>
  
</div>

<img src="/images/ghana.jpg" alt="rss feed" />
<img src="/images/kenya.jpg" alt="rss feed" />
<img src="/images/ghana2.jpg" alt="rss feed" />
<img src="/images/ghana3.jpg" alt="rss feed" />
<img src="/images/kenya2.jpg" alt="rss feed" />
<img src="/images/nigeria.jpg" alt="rss feed" />
<img src="/images/nigeria2.jpg" alt="rss feed" />
<img src="/images/nigeria3.jpg" alt="rss feed" />
<img src="/images/uganda.jpg" alt="rss feed" />
<img src="/images/malawi.jpg" alt="rss feed" />
<img src="/images/ivorycoast.jpg" alt="rss feed" />

<%= link_to 'Home', root_path %>