<h1>East Asian Reads</h1>

<div align="center">
    <li>Chinese Cinderella - Adeline Yen May</li>
    <li>Chinese Cinderella and the Secret Dragon Society - Adeline Yen Mah</li>
    <li>Falling Leaves - Adeline Yen May</li>
    <li>Memoirs of a Geisha- Arthur Golden</li>
    <li>Legend series - Marie Lu</li>
    <li>Revolution Is Not A Dinner Party - Ying Chang Compestine</li>
    <li>Stormdancer - Jay Kristoff</li>
    <li>The Joy Luck Club - Amy Tan</li>
    <li>Wild Swans: Three Daughter of China - Jung Chang</li>
    <li>Bronze and Sunflower - Can Wenxung</li>
</div>


<img src="/images/china.jpg" alt="rss feed" />
<img src="/images/macau.jpg" alt="rss feed" />
<img src="/images/taiwan.jpg" alt="rss feed" />
<img src="/images/japan.jpg" alt="rss feed" />
<img src="/images/japan2.jpg" alt="rss feed" />
<img src="/images/hong kong.jpg" alt="rss feed" />
<img src="/images/china2.jpg" alt="rss feed" />
<img src="/images/mongolia.jpg" alt="rss feed" />
<img src="/images/japan3.jpg" alt="rss feed" />
<img src="/images/hongkong.jpg" alt="rss feed" />
<img src="/images/taiwan3.jpg" alt="rss feed" />

<%= link_to 'Home', root_path %>