<h1 align="center">East Asian Reads</h1>

<h5 align="center">Click on the links to view more information about each book</h5>
<div align="center">
    <li><a href="https://www.goodreads.com/book/show/82751.Chinese_Cinderella?ac=1&from_search=true&qid=5Z2JCiD60g&rank=1">Chinese Cinderella - Adeline Yen May</a></li>
    <li><a href="https://www.goodreads.com/book/show/54528.Chinese_Cinderella_and_the_Secret_Dragon_Society?ac=1&from_search=true&qid=XOD7XiiA0g&rank=1">Chinese Cinderella and the Secret Dragon Society - Adeline Yen Mah</a></li>
    <li><a href="https://www.goodreads.com/book/show/54529.Falling_Leaves?ac=1&from_search=true&qid=rICmv7nzds&rank=2">Falling Leaves - Adeline Yen May</a></li>
    <li><a href="https://www.goodreads.com/book/show/929.Memoirs_of_a_Geisha?ac=1&from_search=true&qid=ByQo9KsT2W&rank=1">Memoirs of a Geisha- Arthur Golden</a></li>
    <li><a href="https://www.goodreads.com/book/show/9275658-legend?ac=1&from_search=true&qid=MOov1LdIk6&rank=1">Legend series - Marie Lu</a></li>
    <li><a href="https://www.goodreads.com/book/show/791602.Revolution_Is_Not_a_Dinner_Party?ac=1&from_search=true&qid=rylMuCH3eM&rank=1">Revolution Is Not A Dinner Party - Ying Chang Compestine</a></li>
    <li><a href="https://www.goodreads.com/book/show/10852343-stormdancer?ac=1&from_search=true&qid=L9jRHN6Eek&rank=1">Stormdancer - Jay Kristoff</a></li>
    <li><a href="https://www.goodreads.com/book/show/7763.The_Joy_Luck_Club?ac=1&from_search=true&qid=WqpfUtaXB5&rank=1">The Joy Luck Club - Amy Tan<a/></li>
    <li><a href="https://www.goodreads.com/book/show/1848.Wild_Swans?ac=1&from_search=true&qid=8CU2XWUOUQ&rank=1">Wild Swans: Three Daughter of China - Jung Chang</a></li>
    <li><a href="https://www.goodreads.com/book/show/23207008-bronze-and-sunflower?ac=1&from_search=true&qid=YWum9PIkMy&rank=1">Bronze and Sunflower - Can Wenxung</a></li>
</div>

<div align="center">
<img src="/images/china.jpg" alt="rss feed" />
<img src="/images/macau.jpg" alt="rss feed" />
<img src="/images/taiwan.jpg" alt="rss feed" />
<img src="/images/japan.jpg" alt="rss feed" />
<img src="/images/japan2.jpg" alt="rss feed" />
<img src="/images/hong kong.jpg" alt="rss feed" />
<img src="/images/china2.jpg" alt="rss feed" />
<img src="/images/mongolia.jpg" alt="rss feed" />
<img src="/images/japan3.jpg" alt="rss feed" />
<img src="/images/hongkong.jpg" alt="rss feed" />
<img src="/images/taiwan3.jpg" alt="rss feed" />
</div>

<%= link_to 'Home', root_path %>