<h1>East and West African Reads</h1>

<div align="center">
  
    <li><a href="https://www.goodreads.com/book/show/34007206-auma-s-long-run?ac=1&from_search=true&qid=Hlu2BFGK5C&rank=1">Auma’s Long Run - Eucabeth A Odhimabo</a></li>
    <li><a href="https://www.goodreads.com/book/show/33956433-city-of-saints-thieves?ac=1&from_search=true&qid=d1bDM43WNK&rank=1">City of Saints and Thieves - Natalie C Anderson</a></li>
    <li><a href="https://www.goodreads.com/book/show/781787.Out_of_Africa?from_search=true&from_srp=true&qid=XAb2jgW0Up&rank=1">Out of Africa - Karen Blixen</a></li>
    <li><a href="https://www.goodreads.com/book/show/9464305-abela?ac=1&from_search=true&qid=NDxOlT68yV&rank=1">Abela - Berlie Doherty</a></li>
    <li><a href="https://www.goodreads.com/book/show/7507944-akata-witch?ac=1&from_search=true&qid=xPLzVNWfee&rank=1">Akata Witch = Need Okorafor</a></li>
    <li><a href="https://www.goodreads.com/book/show/15717298-the-milk-of-birds?ac=1&from_search=true&qid=7GuRRlscC8&rank=1">The Milk of Birds - Sylvia Whitman</a></li>
    <li><a href="https://www.goodreads.com/book/show/7981456-a-long-walk-to-water?ac=1&from_search=true&qid=Ds6eSPNC22&rank=1">A Long Walk to Water - Linda Sue Park</a></li>
    <li><a href="https://www.goodreads.com/book/show/823796.The_Garbage_King?ac=1&from_search=true&qid=nHpzFca6el&rank=1">The Garbage King - Elizabeth Laird</a></li>
    <li><a href="https://www.goodreads.com/book/show/34728667-children-of-blood-and-bone?ac=1&from_search=true&qid=BGLW1AXsAU&rank=1">Children of Blood and Bone</a></li>
    <li><a href="https://www.goodreads.com/book/show/27071490-homegoing?ac=1&from_search=true&qid=gfrdX1o0t4&rank=1">Homegoing - Yaa Gyasi<a></li>
    <li><a href="https://www.goodreads.com/book/show/37781.Things_Fall_Apart?ac=1&from_search=true&qid=xxDoI6kkoj&rank=1">Things Fall Apart - China Achebe</a></li>
    <li><a href="https://www.goodreads.com/book/show/14569052-purple-hibiscus?ac=1&from_search=true&qid=fTZzJfjzBV&rank=1">Purple Hibiscus - Chimamanda Ngozi Adichie</a></li>
    <li><a href="https://www.goodreads.com/book/show/15796700-americanah?ac=1&from_search=true&qid=yukyY5mpCr&rank=1">Americanah - Chimamanda Negozi Adichie</a></li>
  
</div>

<img src="/images/ghana.jpg" alt="rss feed" />
<img src="/images/kenya.jpg" alt="rss feed" />
<img src="/images/ghana2.jpg" alt="rss feed" />
<img src="/images/ghana3.jpg" alt="rss feed" />
<img src="/images/kenya2.jpg" alt="rss feed" />
<img src="/images/nigeria.jpg" alt="rss feed" />
<img src="/images/nigeria2.jpg" alt="rss feed" />
<img src="/images/nigeria3.jpg" alt="rss feed" />
<img src="/images/uganda.jpg" alt="rss feed" />
<img src="/images/malawi.jpg" alt="rss feed" />
<img src="/images/ivorycoast.jpg" alt="rss feed" />

<%= link_to 'Home', root_path %>