<h1 align="center">European Reads</h1>

<h5 align="center">Click on the links to view more information about each book</h5>
<div align="center">  
    <li><a href="https://www.goodreads.com/book/show/7824322-between-shades-of-gray?ac=1&from_search=true&qid=ueLMP3gVKf&rank=1">Between Shades of Grey - Ruta Sepetys</a></li>
    <li><a href="https://www.goodreads.com/book/show/19063.The_Book_Thief?ac=1&from_search=true&qid=PrCLylCfgl&rank=1">The Book Thief - Markus Zusak</a></li>
    <li><a href="https://www.goodreads.com/book/show/101299.The_Reader?ac=1&from_search=true&qid=Ay5RnpWpVN&rank=1">The Reader - Bernhard Schlink</a></li>
    <li><a href="https://www.goodreads.com/book/show/39999.The_Boy_in_the_Striped_Pajamas?ac=1&from_search=true&qid=kub5VE0ncA&rank=1">The Boy in the Striped Pyjamas - John Boyne<a/></li>
    <li><a href="https://www.goodreads.com/book/show/15195.The_Complete_Maus?ac=1&from_search=true&qid=iEP1DKAMP2&rank=1">The Complete Maus - Art Spiegelman</a></li>
    <li><a href="https://www.goodreads.com/book/show/47281.Number_the_Stars?ac=1&from_search=true&qid=qFjUkDgrzU&rank=1">Number the Stars - Lois Lowry</a></li>
    <li><a href="https://www.goodreads.com/book/show/48855.The_Diary_of_a_Young_Girl?ac=1&from_search=true&qid=f5E9LD8IOU&rank=1">The Diary of a Young Girl - Anne Frank</a></li>
    <li><a href="https://www.goodreads.com/book/show/11925514-code-name-verity?ac=1&from_search=true&qid=3th4FcUr2H&rank=1">Code Name Verity - Elizabeth Wein</a></li>
    <li><a href="https://www.goodreads.com/book/show/17828703-after-auschwitz?ac=1&from_search=true&qid=75Dm5w7EoN&rank=1">After Auschwitz - Eva Schloss</a></li>
    <li><a href="https://www.goodreads.com/book/show/1095882.Mischling_Second_Degree?ac=1&from_search=true&qid=HLSyB4kP8S&rank=3">Mischling, Second Degree: My Childhood in Nazi Germany - Else Koehn</a></li>
    <li><a href="https://www.goodreads.com/book/show/54283.When_Hitler_Stole_Pink_Rabbit?ac=1&from_search=true&qid=w99cG4Rczk&rank=1">When Hitler Stole Pink Rabbit - Judith Kerr</a></li>
    <li><a href="https://www.goodreads.com/book/show/1045757.Once?ac=1&from_search=true&qid=mlT6qLtFAN&rank=2">Once - Morris Gleiztman</a></li>
    <li><a href="https://www.goodreads.com/book/show/48834.I_Have_Lived_a_Thousand_Years?ac=1&from_search=true&qid=jLFNpMf8Or&rank=1">I Have Lived A Thousand Years - Livia Bitton-Jackson</a></li>
    <li><a href="https://www.goodreads.com/book/show/374494.The_Kommandant_s_Girl?ac=1&from_search=true&qid=GGs0HNvXTA&rank=1">The Kommandant’s Girl - Pam Jenoff</a></li>
</div>


<img src="/images/bulgaria.jpg" alt="rss feed" />
<img src="/images/italy.jpg" alt="rss feed" />
<img src="/images/poland.jpg" alt="rss feed" />
<img src="/images/germany.jpg" alt="rss feed" />
<img src="/images/switzerland.jpg" alt="rss feed" />
<img src="/images/amsterdam.jpg" alt="rss feed" />
<img src="/images/portugal.jpg" alt="rss feed" />
<img src="/images/barcelona.jpg" alt="rss feed" />
<img src="/images/france.jpg" alt="rss feed" />
<img src="/images/latvia.jpg" alt="rss feed" />
<img src="/images/lapland.jpg" alt="rss feed" />

<%= link_to 'Home', root_path %>