<h1>European Reads</h1>


<div align="center">  
    <li>Between Shades of Grey - Ruta Sepetys</li>
    <li>The Book Thief - Markus Zusak</li>
    <li>The Reader - Bernhard Schlink</li>
    <li>The Boy in the Striped Pyjamas - John Boyne</li>
    <li>The Complete Maus - Art Spiegelman</li>
    <li>Number the Stars - Lois Lowry</li>
    <li>The Diary of a Young Girl - Anne Frank</li>
    <li>Code Name Verity - Elizabeth Wein</li>
    <li>After Auschwitz - Eva Schloss</li>
    <li>Mischling, Second Degree: My Childhood in Nazi Germany - Else Koehn</li>
    <li>When Hitler Stole Pink Rabbit - Judith Kerr</li>
    <li>Once - Morris Gleiztman</li>
    <li>I Have Lived A Thousand Years - Livia Bitton-Jackson</li>
    <li>The Kommandant’s Girl - Pam Jenoff</li>
</div>


<img src="/images/bulgaria.jpg" alt="rss feed" />
<img src="/images/italy.jpg" alt="rss feed" />
<img src="/images/poland.jpg" alt="rss feed" />
<img src="/images/germany.jpg" alt="rss feed" />
<img src="/images/switzerland.jpg" alt="rss feed" />
<img src="/images/amsterdam.jpg" alt="rss feed" />
<img src="/images/portugal.jpg" alt="rss feed" />
<img src="/images/barcelona.jpg" alt="rss feed" />
<img src="/images/france.jpg" alt="rss feed" />
<img src="/images/latvia.jpg" alt="rss feed" />
<img src="/images/lapland.jpg" alt="rss feed" />

<%= link_to 'Home', root_path %>