<h1>North, South and Central African Reads</h1>

<div align="center">
    <li>The Year the Gypsies Came - Linzi Glass</li>
    <li>Ruby Red - Linzi Glass</li>
    <li>Out of Shadows - Jason Wallace</li>
    <li>The Other ME - Suzanne van Rooyen</li>
    <li>No Turning Back - Beverly Naidoo</li>
    <li>A Good Day for Climbing Trees - Jaco Jacobs</li>
    <li>Listening for Lions - Gloria Whelan</li>
    <li>The Butterfly Lion - Michael Morpurgo</li>
    <li>A Girl Named Disaster - Nancy Farmer</li>
</div>


<img src="/images/cape town.jpg" alt="rss feed" />
<img src="/images/cape town2.jpg" alt="rss feed" />
<img src="/images/johannesburg.jpg" alt="rss feed" />
<img src="/images/sudan.jpg" alt="rss feed" />
<img src="/images/sudan2.jpg" alt="rss feed" />
<img src="/images/western sahara.jpg" alt="rss feed" />
<img src="/images/morocco.jpg" alt="rss feed" />
<img src="/images/morocco2.jpg" alt="rss feed" />

<%= link_to 'Home', root_path %>