<h1 align="center">North, South and Central African Reads</h1>
<br>
<h5 align="center">Click on the links to view more information about each book</h5>
<br>
<div class="northafrican">
<div class="northafricanbooks" align="center">
    <li><a href="https://www.goodreads.com/book/show/742772.The_Year_the_Gypsies_Came?ac=1&from_search=true&qid=fChY6hnVNE&rank=1">The Year the Gypsies Came - Linzi Glass</a></li>
    <li><a href="https://www.goodreads.com/book/show/2265776.Ruby_Red?ac=1&from_search=true&qid=7qnY85CzAc&rank=1">Ruby Red - Linzi Glass</a></li>
    <li><a href="https://www.goodreads.com/book/show/6517542-out-of-shadows?ac=1&from_search=true&qid=Xts2o3aL03&rank=1">Out of Shadows - Jason Wallace</a></li>
    <li><a href="https://www.goodreads.com/book/show/20299991-the-other-me?ac=1&from_search=true&qid=YrQjXjEzcJ&rank=2">The Other Me - Suzanne van Rooyen</a></li>
    <li><a href="https://www.goodreads.com/book/show/151273.No_Turning_Back?ac=1&from_search=true&qid=mFCWrMTAPk&rank=1">No Turning Back - Beverly Naidoo</a></li>
    <li><a href="https://www.goodreads.com/book/show/39896999-a-good-day-for-climbing-trees?ac=1&from_search=true&qid=pNtTHhmHPp&rank=1">A Good Day for Climbing Trees - Jaco Jacobs</a></li>
    <li><a href="https://www.goodreads.com/book/show/298869.Listening_for_Lions?ac=1&from_search=true&qid=1ugiYv9B87&rank=1">Listening for Lions - Gloria Whelan</a></li>
    <li><a href="https://www.goodreads.com/book/show/1518109.The_Butterfly_Lion?ac=1&from_search=true&qid=0cbH7tmsxg&rank=1">The Butterfly Lion - Michael Morpurgo</a></li>
    <li><a href="https://www.goodreads.com/book/show/133775.A_Girl_Named_Disaster?ac=1&from_search=true&qid=WIBuJkozd6&rank=1">A Girl Named Disaster - Nancy Farmer</a></li>
</div>
<img class="camel" src="./images/camel.svg">
</div>
</div>
<br>

<div align="center">
<img src="/images/cape town.jpg" alt="rss feed" />
<img src="/images/cape town 2.jpg" alt="rss feed" />
<img src="/images/johannesburg.jpg" alt="rss feed" />
<img src="/images/sudan.jpg" alt="rss feed" />
<img src="/images/sudan2.jpg" alt="rss feed" />
<img src="/images/western sahara.jpg" alt="rss feed" />
<img src="/images/morocco.jpg" alt="rss feed" />
<img src="/images/morocco2.jpg" alt="rss feed" />
</div>

<%= link_to 'Home', root_path %>