<h1> South and Central American Reads</h1>

<div align="center">
    <li>Forest of the Pygmies - Isabel Allende</li>
    <li>Hurricane - Terry Truman</li>
    <li>La Linea - Ann Jaramillo</li>
    <li>Emily Goldberg Learns to Salsa - Micol Ostow</li>
    <li>First Descent - Pam Withers</li>
    <li>The Red Umbrella - Christina Diaz Gonzalez</li>
    <li>The Queen of Water - Laura Resau</li>
    <li>The House of The Spirits - Isabelle Allende</li>
    <li>Journey to the River Sea - Eva Ibbotson</li>
    <li>Victoria - Silvana Goldemberg</li>
    <li>City of Beasts - Isabel Allende</li>
    <li>100 Hours - Rachel Vincent</li>
</div>


<img src="/images/southamerica1.jpg" alt="rss feed" />
<img src="/images/southamerica2.jpg" alt="rss feed" />
<img src="/images/southamerica4.jpg" alt="rss feed" />
<img src="/images/southamerica5.jpg" alt="rss feed" />
<img src="/images/southamerica6.jpg" alt="rss feed" />
<img src="/images/honduras.jpg" alt="rss feed" />
<img src="/images/chile.jpg" alt="rss feed" />
<img src="/images/chile2.jpg" alt="rss feed" />
<img src="/images/guatemala.jpg" alt="rss feed" />
<img src="/images/guatemala2.jpg" alt="rss feed" />
<img src="/images/costarica.jpg" alt="rss feed" />
<img src="/images/costarica2.jpg" alt="rss feed" />


<%= link_to 'Home', root_path %>