<h1 align="center">South and South East Asian Reads</h1>

<h5 align="center">Click on the links to view more information about each book</h5>
<div align="center">
    <li><a href="https://www.goodreads.com/book/show/9777.The_God_of_Small_Things?ac=1&from_search=true&qid=mEgg0mcUVM&rank=1">The God of Small Things - Arundhati Roy</a></li>
    <li><a href="https://www.goodreads.com/book/show/14836.Midnight_s_Children?ac=1&from_search=true&qid=bYZoLofqmS&rank=1">Midnight’s Children - Salmon Rushdie</a></li>
    <li><a href="https://www.goodreads.com/book/show/45195.A_Passage_to_India?ac=1&from_search=true&qid=kbi391o3Ay&rank=1">A Passage to India - E.M.Forster</a></li>
    <li><a href="https://www.goodreads.com/book/show/50365.A_Suitable_Boy?ac=1&from_search=true&qid=QSQvi9Nk1X&rank=1">A Suitable Boy - Vikram Seth</a></li>
    <li><a href="https://www.goodreads.com/book/show/1768603.The_White_Tiger?ac=1&from_search=true&qid=ZXll9aPkMs&rank=1">The White Tiger - Aravind Adiga</a></li>
    <li><a href="https://www.goodreads.com/book/show/95186.The_Inheritance_of_Loss?ac=1&from_search=true&qid=xRbouWzPOC&rank=1">The Inheritance of Loss - Kiran Desai</a></li>
    <li><a href="https://www.goodreads.com/book/show/482610.Three_Indian_Princesses?ac=1&from_search=true&qid=iIxE0oAhHB&rank=1">Three Indian Princesses - Jamila Gavin</a></li>
    <li><a href="https://www.goodreads.com/book/show/1072093.Coram_Boy?ac=1&from_search=true&qid=kIIJ9V27st&rank=1">Coram Boy - Jamila Gavin</a></li>
    <li><a href="https://www.goodreads.com/book/show/9440324-the-midnight-palace?ac=1&from_search=true&qid=QCKfyqIUlP&rank=1">The Midnight Palace - Carlos Ruiz Zafon</a></li>
    <li><a href="https://www.goodreads.com/book/show/929.Memoirs_of_a_Geisha?ac=1&from_search=true&qid=ciWs8Qjs0J&rank=1">Memoirs of a Geisha- Arthur Golden</a></li>
    <li><a href="https://www.goodreads.com/book/show/4950.The_Hungry_Tide?ac=1&from_search=true&qid=ekPlda8djs&rank=1">The Hungry Tide - Amitav Ghosh</a></li>
    <li><a href="https://www.goodreads.com/book/show/6138.The_Moonstone?ac=1&from_search=true&qid=Tcj6mZU7cH&rank=1">The Moonstone - Wilkie Collins</a></li>
</div>


<img src="/images/philippines.jpg" alt="rss feed" />
<img src="/images/thailand.jpg" alt="rss feed" />
<img src="/images/vietnam.jpg" alt="rss feed" />
<img src="/images/vietnam2.jpg" alt="rss feed" />
<img src="/images/laos2.jpg" alt="rss feed" />
<img src="/images/india.jpg" alt="rss feed" />
<img src="/images/india3.jpg" alt="rss feed" />
<img src="/images/india4.jpg" alt="rss feed" />
<img src="/images/mayanmar.jpg" alt="rss feed" />
<img src="/images/indonesia.jpg" alt="rss feed" />
<img src="/images/nepal.jpg" alt="rss feed" />
<img src="/images/nepal2.jpg" alt="rss feed" />
<img src="/images/pakistan.jpg" alt="rss feed" />
<img src="/images/pakistan2.jpg" alt="rss feed" />


<%= link_to 'Home', root_path %>