<h1 align="center"> South and Central American Reads</h1>

<h5 align="center">Click on the links to view more information about each book</h5>
<div align="center">
    <li><a href="https://www.goodreads.com/book/show/16526.Forest_of_the_Pygmies?ac=1&from_search=true&qid=g5Y8VoUfpC&rank=1">Forest of the Pygmies - Isabel Allende</a></li>
    <li><a href="https://www.goodreads.com/book/show/2672990-hurricane?from_search=true&from_srp=true&qid=qEqnwLoibB&rank=1">Hurricane - Terry Truman</a></li>
    <li><a href="https://www.goodreads.com/book/show/1067346.La_Linea?ac=1&from_search=true&qid=2sa4pZ3ywm&rank=1">La Linea - Ann Jaramillo</a></li>
    <li><a href="https://www.goodreads.com/book/show/1976270.Emily_Goldberg_Learns_to_Salsa?ac=1&from_search=true&qid=GHHJUdtq2g&rank=1">Emily Goldberg Learns to Salsa - Micol Ostow</a></li>
    <li><a href="https://www.goodreads.com/book/show/10422467-first-descent?ac=1&from_search=true&qid=8XJ4hyMVWB&rank=1">First Descent - Pam Withers</a></li>
    <li><a href="https://www.goodreads.com/book/show/6768377-the-red-umbrella?ac=1&from_search=true&qid=JMRn90cpFJ&rank=1">The Red Umbrella - Christina Diaz Gonzalez</a></li>
    <li><a href="https://www.goodreads.com/book/show/8621850-the-queen-of-water?ac=1&from_search=true&qid=554pAb7wgt&rank=1">The Queen of Water - Laura Resau</a></li>
    <li><a href="https://www.goodreads.com/book/show/9328.The_House_of_the_Spirits?ac=1&from_search=true&qid=IJjHm5nSdE&rank=1">The House of The Spirits - Isabelle Allende</a></li>
    <li><a href="https://www.goodreads.com/book/show/294442.Journey_to_the_River_Sea?ac=1&from_search=true&qid=N1NjtZaO5h&rank=1">Journey to the River Sea - Eva Ibbotson</a></li>
    <li><a href="https://www.goodreads.com/book/show/18854616-victoria?ac=1&from_search=true&qid=9ueAvbYNfB&rank=4">Victoria - Silvana Goldemberg</a></li>
    <li><a href="https://www.goodreads.com/book/show/3304.City_of_the_Beasts?ac=1&from_search=true&qid=9Rp8jpr5Pb&rank=2">City of Beasts - Isabel Allende</a></li>
    <li><a href="https://www.goodreads.com/book/show/30653906-100-hours?ac=1&from_search=true&qid=2BwAbwPHLd&rank=1">100 Hours - Rachel Vincent</a></li>
</div>


<img src="/images/southamerica1.jpg" alt="rss feed" />
<img src="/images/southamerica2.jpg" alt="rss feed" />
<img src="/images/southamerica4.jpg" alt="rss feed" />
<img src="/images/southamerica5.jpg" alt="rss feed" />
<img src="/images/southamerica6.jpg" alt="rss feed" />
<img src="/images/honduras.jpg" alt="rss feed" />
<img src="/images/chile.jpg" alt="rss feed" />
<img src="/images/chile2.jpg" alt="rss feed" />
<img src="/images/guatemala.jpg" alt="rss feed" />
<img src="/images/guatemala2.jpg" alt="rss feed" />
<img src="/images/costarica.jpg" alt="rss feed" />
<img src="/images/costarica2.jpg" alt="rss feed" />


<%= link_to 'Home', root_path %>