<h1>South and South East Asian Reads</h1>

<div align="center">
    <li>The God of Small Things - Arundhati Roy</li>
    <li>Midnight’s Children - Salmon Rushdie</li>
    <li>A Passage to India - E.M.Forster</li>
    <li>A Suitable Boy - Vikram Seth</li>
    <li>The White Tiger - Aravind Adiga</li>
    <li>The Inheritance of Loss - Kiran Desai</li>
    <li>Three Indian Princesses - Jamila Gavin</li>
    <li>Coram Boy - Jamila Gavin</li>
    <li>The Midnight Palace - Carlos Ruiz Zafon</li>
    <li>Memoirs of a Geisha- Arthur Golden</li>
    <li>The Hungry Tide - Amitav Ghosh</li>
    <li>The Moonstone - Wilkie Collins</li>
</div>


<img src="/images/philippines.jpg" alt="rss feed" />
<img src="/images/thailand.jpg" alt="rss feed" />
<img src="/images/vietnam.jpg" alt="rss feed" />
<img src="/images/vietnam2.jpg" alt="rss feed" />
<img src="/images/laos2.jpg" alt="rss feed" />
<img src="/images/india.jpg" alt="rss feed" />
<img src="/images/india3.jpg" alt="rss feed" />
<img src="/images/india4.jpg" alt="rss feed" />
<img src="/images/mayanmar.jpg" alt="rss feed" />
<img src="/images/indonesia.jpg" alt="rss feed" />
<img src="/images/nepal.jpg" alt="rss feed" />
<img src="/images/nepal2.jpg" alt="rss feed" />
<img src="/images/pakistan.jpg" alt="rss feed" />
<img src="/images/pakistan2.jpg" alt="rss feed" />


<%= link_to 'Home', root_path %>