<h1>West Asian Reads</h1>

<div align="center">
    <li>Does my head look big in this - Randa Abdel- Fattah</li>
    <li>A Girl Like That - Tanaz Bathena</li>
    <li>Where the Streets Had A Name - Randa Abdel - Fattah</li>
    <li>Kiss The Dust - Elizabeth Laird</li>
    <li>Oranges in No Man’s Land - Elizabeth Laird</li>
    <li>Rebel of the Sands - Alwyn Hamilton</li>
    <li>The Girl From Aleppo - Nujeen Mustafa</li>
    <li>The Secret Sky - Atia Abawi</li>
    <li>Moon At Nine - Deborah Ellis</li>
    <li>Persepolis: The Story of a Childhood - Marjane Satrapi</li>
    <li>Dear Blue Sky - Mary Sullivan</li>
    <li>Shadow - Michael Morpurgo</li>
</div>
<img src="/images/dubai.jpg" alt="rss feed" />
<img src="/images/abu dhabi.jpg" alt="rss feed" />
<img src="/images/saudiarabia5.jpg" alt="rss feed" />
<img src="/images/iraq.jpg" alt="rss feed" />
<img src="/images/iraq2.jpg" alt="rss feed" />
<img src="/images/iraq4.jpg" alt="rss feed" />
<img src="/images/afghanistan.jpg" alt="rss feed" />
<img src="/images/aleppo.jpg" alt="rss feed" />
<img src="/images/iran.jpg" alt="rss feed" />
<img src="/images/saudi arabia.jpg" alt="rss feed" />
<img src="/images/saudi arabia2.jpg" alt="rss feed" />
<img src="/images/saudi arabia 3.jpg" alt="rss feed" />
<img src="/images/saudi arabia 4.jpg" alt="rss feed" />

<%= link_to 'Home', root_path %>