<h1 align="center">West Asian Reads</h1>
<br>
<h5 align="center">Click on the links to view more information about each book</h5>
<br>
<img src="./images/salam.svg" class="salam">
<div align="center">
    <li><a href="https://www.goodreads.com/book/show/79876.Does_My_Head_Look_Big_in_This_?ac=1&from_search=true&qid=7guSIl5WgQ&rank=1">Does my head look big in this - Randa Abdel- Fattah</a></li>
    <li><a href="https://www.goodreads.com/book/show/29451548-a-girl-like-that?from_search=true&from_srp=true&qid=mRNIaR49th&rank=1">A Girl Like That - Tanaz Bathena</a></li>
    <li><a href="https://www.goodreads.com/book/show/5795512-where-the-streets-had-a-name?from_search=true&from_srp=true&qid=PfBOTeDIXu&rank=1">Where the Streets Had A Name - Randa Abdel - Fattah</a></li>
    <li><a href="https://www.goodreads.com/book/show/823794.Kiss_the_Dust?from_search=true&from_srp=true&qid=pKrriInp8M&rank=1">Kiss The Dust - Elizabeth Laird</a></li>
    <li><a href="https://www.goodreads.com/book/show/428817.Oranges_in_No_Man_s_Land?ac=1&from_search=true&qid=71jPQddnaX&rank=1">Oranges in No Man’s Land - Elizabeth Laird</a></li>
    <li><a href="https://www.goodreads.com/book/show/24934065-rebel-of-the-sands?ac=1&from_search=true&qid=so543PBM2O&rank=1">Rebel of the Sands - Alwyn Hamilton</a></li>
    <li><a href="https://www.goodreads.com/book/show/35003240-the-girl-from-aleppo?ac=1&from_search=true&qid=abZGIJsKp5&rank=1">The Girl From Aleppo - Nujeen Mustafa</a></li>
    <li><a href="https://www.goodreads.com/book/show/18350034-the-secret-sky?ac=1&from_search=true&qid=L7mKgHeDv1&rank=1">The Secret Sky - Atia Abawi</a>/li>
    <li><a href="https://www.goodreads.com/book/show/18854738-moon-at-nine?ac=1&from_search=true&qid=NuJXVzSpqW&rank=1">Moon At Nine - Deborah Ellis</a></li>
    <li><a href="https://www.goodreads.com/book/show/991197.The_Complete_Persepolis?ac=1&from_search=true&qid=SBxRaMCMAG&rank=1">Persepolis: The Story of a Childhood - Marjane Satrapi</a></li>
    <li><a href="https://www.goodreads.com/book/show/12926248-dear-blue-sky?ac=1&from_search=true&qid=96eApQzZH0&rank=1">Dear Blue Sky - Mary Sullivan</a></li>
    <li><a href="https://www.goodreads.com/book/show/36204556-boy-87?ac=1&from_search=true&qid=CC9E1r9p2M&rank=1">Boy 87 - Ele Fountain</a></li>
    <li><a href="https://www.goodreads.com/book/show/9239452-shadow?ac=1&from_search=true&qid=4j9cCk6HYS&rank=1">Shadow - Michael Morpurgo</a></li>
    <li><a href="https://www.goodreads.com/book/show/10291971-in-the-sea-there-are-crocodiles?ac=1&from_search=true&qid=HESJ8DppxD&rank=1>In the Sea there are Crocodiles - Fabio Geda</a></li>
</div>
<br>
<div align="center">
<img src="/images/dubai.jpg" alt="rss feed" />
<img src="/images/abu dhabi.jpg" alt="rss feed" />
<img src="/images/saudiarabia5.jpg" alt="rss feed" />
<img src="/images/iraq.jpg" alt="rss feed" />
<img src="/images/iraq2.jpg" alt="rss feed" />
<img src="/images/iraq4.jpg" alt="rss feed" />
<img src="/images/afghanistan.jpg" alt="rss feed" />
<img src="/images/aleppo.jpg" alt="rss feed" />
<img src="/images/iran.jpg" alt="rss feed" />
<img src="/images/saudi arabia.jpg" alt="rss feed" />
<img src="/images/saudi arabia2.jpg" alt="rss feed" />
<img src="/images/saudi arabia 3.jpg" alt="rss feed" />
<img src="/images/saudi arabia 4.jpg" alt="rss feed" />
</div>

<%= link_to 'Home', root_path %>