/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.review-body {
 border-top: 1px solid #ff99ff;
 padding-top: 15px;
 padding-bottom: 15px;
}

.review-title {
 font-weight: bold;
 font-size: 1.5em;
}

p {
    color: black;
    
}


.review-actions {
    color:  #ff66ff;
}

.row {
    color:  #ff66ff;
}

body {
    background: linear-gradient(105deg, rgb(184, 158, 201),
    rgb(198, 214, 228), rgb(135, 194, 231), #C06C84);
}

container-fluid {
    background:  #c2d6d6;
}

li {
    list-style-type: none;
    color: black;
    font-size: 16px;

}

ul {
    color: black;
    display: inline-block;
}

.northafricanbooks {
    display: flex;
    flex-direction: row;
}

.northafrican {
    display: flex;
    flex-direction: row;
}

.africa {
    height: 200px;
    display: flex;
    flex-direction: row;
    width: 300px;
}

.llama {
    display: flex;
    flex-direction: row;
}

.chinese {
    display: flex;
    flex-direction: row;

}

#mapcropped {
    width: 600px;
    height: 400px;
}

.africanamericanbooks {
    display: flex;
    flex-direction : row;

}

.salam {
    display :flex;
    flex-direction: row;
}

.paris {
    display: flex;
    flex-direction: row;
}

.berlin {
    display: flex;
    flex-direction: row;
}

.tajmahal {
    display: flex;
    flex-direction: row;
}

.africanamerican {
    display: flex;
    flex-direction: row;
}

.africanamerican2 {
    display: flex;
    flex-direction: row;
}

.camel {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: row;
}


.palms {
    display: flex;
    flex-direction: row;
   position: relative;
   right: 20px;
}

.palms2 {
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 350px;
    position: relative;
   left: 1000px;
   bottom: 380px;
}

.bookscarribean {
    display: table;
    margin: 0 auto;
   
}

.caribbeanimages {
    position: relative;
    bottom: 300px;
}

caribbean {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: auto;
}

a:link {
    color: rgb(25, 26, 25);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(37, 36, 36);
    background-color: transparent;
    text-decoration: none;
  }

.icon-bar {
    color: gray;
}

.sr-only {
    color: gray;
}

.worldmap {
    width: 1000px;
    height: 1000px;


}

.wanderlust {
    width: 1000px;
    height: 600px;
}

navbar navbar-default {
    background: #74a0a0;;
}


ul {
    display: table;
    margin: 0 auto;
  }

  img {
    width: 175px;
    height: 200px;
  }

#mapcircle {
    width: 400px;
    height: 400px;
}

.navbar-custom { 
    background-color: rgb(92, 89, 89); 
    color: black;
} 

#world {
    width: 1000px;
    height: 700px;
}
