<h1>Showing all reviews</h1>
<table>
 <tr>
  <th>Title</th>
  <th>Review</th>
 </tr>
 <% @reviews.each do |review| %>
 <tr>
  <td><%= review.title %></td>
  <td><%= review.review %></td>
 </tr>
 <% end %>
</table>