

<h2 align="center">Title: <%= @review.title %></h2>
<div class="well col-xs-8 col-xs-offset-2">
 <h4 class="center"><strong>Review:</strong></h4>
 <hr>
 <%= @review.review %>
<%= link_to "Edit", edit_review_path(review) %> |
<%= link_to 'Back', reviews_path %>